OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=Synataric – Healthcare Travel & Care Planning RAG
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=Synataric-Navigator
