OPENAI_API_KEY = "sk-your-openai-key"
PINECONE_API_KEY = "your-pinecone-key"
PINECONE_INDEX_NAME = "Synataric Healthcare Travel Care Planning RAG"
PINECONE_CLOUD = "aws"
PINECONE_REGION = "us-east-1"

LANGCHAIN_API_KEY = ""
LANGCHAIN_TRACING_V2 = "false"
LANGCHAIN_PROJECT = "Synataric-Navigator"
